// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.delete-btn{
    -webkit-appearance: none;
    background-color: transparent ;
    border: none;
    color: red;
    position: absolute;
    right: 10px;
}

.buttons-span{

    position: absolute;
    right: 12px;
}
span.buttons-span span:first-child{
    margin-right: 10px;
}

span.buttons-span span:first-child a {
    color: #804c50;
}
span.buttons-span span:last-child a {
    color: #ff2d1b;
}

