// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.delete-btn{
    -webkit-appearance: none;
    background-color: transparent ;
    border: none;
    color: red;
    position: absolute;
    right: 10px;
}
